{% extends 'base.html.twig' %}

{% block title %}Accueil - MMA & UFC{% endblock %}

{% block body %}
    <h1 class="text-center">Bienvenue sur le blog MMA & UFC 🥊</h1>
    <p class="text-center text-muted">Suivez l’actu des combats et des combattants.</p>
{% endblock %}
