{% extends 'base.html.twig' %}
{% block title %}Conditions d’utilisation{% endblock %}
{% block body %}
<div class="container my-5">
    <h1>Conditions d’utilisation</h1>
    <p>Les utilisateurs s'engagent à utiliser le blog de manière respectueuse. Toute utilisation abusive entraînera un bannissement.</p>
</div>
{% endblock %}
