{% extends 'base.html.twig' %}
{% block title %}Politique de confidentialité{% endblock %}
{% block body %}
<div class="container my-5">
    <h1>Politique de confidentialité</h1>
    <p>Ce site ne collecte pas de données personnelles autres que celles nécessaires à l’authentification des utilisateurs enregistrés.</p>
</div>
{% endblock %}
