{% extends 'base.html.twig' %}
{% block title %}Mentions légales{% endblock %}
{% block body %}
<div class="container my-5">
    <h1>Mentions légales</h1>
    <p>Ce blog est un projet étudiant sans but commercial. Le contenu est fourni à titre informatif.</p>
    <p>Responsable de la publication : Mathis Roussel</p>
    <p>Hébergeur : MAMP sur environnement local</p>
</div>
{% endblock %}
