<p>Bonjour {{ user.nickname }},</p>

<p>Tu as demandé à réinitialiser ton mot de passe. Clique sur le lien ci-dessous :</p>

<p>
    <a href="{{ url('app_reset_password', { token: resetToken }) }}">
        Réinitialiser mon mot de passe
    </a>
</p>

<p>Si tu n'es pas à l'origine de cette demande, ignore simplement ce message.</p>
